body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Imagens/Kayn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header{
    width: 100%;
    height: 80px;
    margin-top: 0.5%;
    border-radius: 20px;
    
}

.container{
    /* max-width: 1280px; */
    margin: 0 auto;
}

#fundo_logo {
    width: 100%;
}

.logo {
    width: 10%;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
}

.naveg {
    float: left;
    margin: 0 auto;
    padding: 1%;
}

.naveg ul li{
    display: inline-block;
    margin-left: 30px;
    font-size: 19px;
}

.direita1{
    margin-right: 260px;
}

.links {
    color: white;
    text-decoration: none;
}

.links_color:hover{
    color:#DBA901;
}

.b_links{
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 19px;
}

.espaco{
    margin-left: 350px;
}

.saiba{
    color: white;
    text-align: center;
    position: absolute;
    float: left;
    top: 55%;
    left: 34%;
}

.saiba h3{
    margin: 0;
    margin-bottom: 10px;
}

.b_saiba{
    border: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: 20px;   
}

.fundo1{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 450px;
}

.Logo_Riot{
    height: 200px;
    margin-left: 15%;
    margin-top: 6%;
    border: white 10px solid;
}

.texto1{
    float: right;
    color: white;
    width: 50%;
    margin-top: 8%;
    margin-right: 5%;
}

.texto1 h4{
    margin: 0;
}

.barra{
    background-color: #a68749;
    width: 100%;
    height: 3px;
}

.rodape{
    background-color: black;
    height: 80px;
    width: 100%;
}

.textos ul li {
    margin-right: 0;
    margin-top: 25px;
}

.texto_rodape{
    font-size: 14px;
    color: white;
    padding-left: 50px;
}

.esquerda1{
    padding-left: 11%;
}

.copy{
    padding-left: 6%;
}

.textos ul li{
    display: inline-block;
}

.insta{
    float: right;
    height: 40px;
    padding-left: 2%;
    padding-top: 12px;
}

.direita1{
    padding-right: 40px;
}

.conteudo{
    color: #DBA901;
    margin: 0;
    margin-top: 10px;
}

.anti{
    float: left;
    margin: 0;
    margin-left: 250px;
}

.atu{
    margin: 0;
    margin-left: 950px;
}

.box_image{
    width: 100%;
    height: 400px;
}

.imagens{
    width: 45%;
    height: 400px;
    margin-top: 0.5%;
    margin-left: 28px;
    float: left;
}

.imagens2{
    width: 46%;
    height: 400px;
    float: right;
    margin-top: 0.5%;
    margin-right: 28px;
}

.box{
    width: 80%;
    height: 100px;
    margin-left: 130px;
    margin-top: 10px;
    color: #FFFFFF;
}

.box h4{
    margin: 0;
}

.texto{
    text-align: center;
    padding-top: 12px;
}

.jogo{
    margin: 0;
    font-size: 50px;
    color: #DBA901;
    text-align: center;
    margin-bottom: 13px;
}

.img_esquerda{
    margin-left: 28%;
}

    /* RODAPE */

    .barra{
        background-color: #a68749;
        width: 100%;
        height: 3px;
    }
    
    .rodape{
        background-color: black;
        height: 100px;
        width: 100%;
        margin-top: -16px;
    }
    
    .textos ul li {
        margin-right: 0;
        margin-top: 43px;
    }
    
    .texto_rodape{
        font-size: 14px;
        color: white;
        padding-left: 50px;
    }
    
    .esquerda1{
        padding-left: 11%;
    }
    
    .copy{
        padding-left: 6%;
    }
    
    .textos ul li{
        display: inline-block;
    }
    
    .insta{
        float: right;
        height: 40px;
        padding-left: 2%;
        padding-top: 30px;
    }
    
    .direita{
        padding-right: 40px;
    }