body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Imagens/Kayn2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header{
    width: 100%;
    height: 80px;
    margin-top: 0.5%;
    border-radius: 20px;
    
}

.container{
    /* max-width: 1280px; */
    margin: 0 auto;
}

#fundo_logo {
    width: 100%;
}

.logo {
    width: 10%;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
}

.naveg {
    float: left;
    margin: 0 auto;
    padding: 1%;
}

.naveg ul li{
    display: inline-block;
    margin-left: 40px;
    font-size: 19px;
}

.esquerda{
    margin-left: 30px;
}

.direita1{
    margin-right: 330px;
}

.links {
    color: white;
    text-decoration: none;
}

.links_color:hover{
    color:#DBA901;
}

.b_links{
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 19px;
}

.b_links:hover{
    background-color: #DBA901;
}

.espaco{
    margin-left: 200px;
}

    /* HEADER */
    
.error{
    background-color: red;
    margin-top: -29%;
    margin-right: 35%;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: 5px solid white;
    float: right;
    opacity: 85%;
}
    
#texto{
    text-align: center;
    padding-top: 1.5%;
    font-size: 22px;
    color: white;
}
    /* ERRO */
.box{
    height: 490px;
    width: 40%;
    margin-top: 80px;
}

.texto{
    font-size: 20px;
}

.nome{
    color: #DBA901;
    margin-left: 46%;
}

.contato{
    color: #DBA901;
    margin-left: 55%;
}

.problema{
    color: #DBA901;
    margin-left: 54%;
}

.caixas{
    margin-left: 150px;
    margin-bottom: 4%;
    height: 20px;
    width: 350px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 80%;
    display: block;
}

.caixas1{
    margin-left: 150px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 80%;
    display: block;
}

.enviar{
    margin-left: 52%;
    margin-top: 30px;
    font-size: 20px;
    width: 100px;
    background-color: red;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
}

    /* RODAPE */

.barra{
    background-color: #a68749;
    width: 100%;
    height: 3px;
}

.rodape{
    background-color: black;
    height: 100px;
    width: 100%;
    margin-top: -16px;
}

.textos ul li {
    margin-right: 0;
    margin-top: 43px;
}

.texto_rodape{
    font-size: 14px;
    color: white;
    padding-left: 50px;
}

.esquerda1{
    padding-left: 11%;
}

.copy{
    padding-left: 6%;
}

.textos ul li{
    display: inline-block;
}

.insta{
    float: right;
    height: 40px;
    padding-left: 2%;
    padding-top: 30px;
}

.direita{
    padding-right: 40px;
}